body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin-bottom: 20px;
  font-size: 24px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 80px);
  column-gap: 85px;
}

.card {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 45px;
  margin-right: 20px; /* Add horizontal margin */
  margin-bottom: 10px; /* Add vertical margin */
}

.card:nth-child(10n) {
  margin-right: 0; /* Remove margin for the last card in each row */
}

.card.revealed, .card.matched {
  background-color: #e0e0e0;
}

.congratulations {
  font-size: 24px;
  color: green;
  margin-top: 20px;
}
